* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #333;
}

h1 {
    color: rgba(1, 6, 15, 1);
   
}

p {
    line-height: 1.5;
}

.cor {
    color: rgba(223, 80, 80, 1);
    font-weight: bolder;
    text-decoration: none;
}

span {
    color: rgb(99, 99, 83);
    font-weight: bold;
}

h2:hover {
    color: #752121;

}

img {
    max-width: 100%;
}


